body{
    margin:0;
    background-color:cadetblue;
}
h1{
    text-align: center;
    background-color: aquamarine;
}
p{
    text-align: center;
}
.margen{
    margin: 0;
    font-weight: bolder;
}
button{
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}
#div-1, #div-2, #div-3{
    border-bottom:2px solid;
}
#borde{
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
#div-4{
    text-align: center;
}
#boton-inicio{
    border-radius: 15px;
    background-color: aqua;
    margin: 5px;
}