body{
    margin: 0;
    background-color: bisque;
}
header{
    background-color:coral;    
}
h1{
    text-align: center;
    font-size: 100px;
}
#div1{
    margin-left:30px;
    font-size: 40px;
}
#contenido{
    margin-left: 50px;
    font-size:40px
}
#Edad, #nombre,#sexo,#email,#usuario,#contraseña,#guardar{
    font-size: 40px;
}
.check{
    width:40px;
    height:40px;
}
#boton-guardar{
    width: 200px;
}
p{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
